/*flex*/
.rs-flex-col{display:flex;display:-webkit-flex;margin:0 auto; flex-direction:column; width: 100%;height: 100%; overflow: hidden;}
.rs-flex-row{display:flex;display:-webkit-flex;margin:0 auto; flex-direction:row; width: 100%; overflow: hidden;}
.rs-flex-item{flex:1;}
/*颜色*/
.c-icon-orange{ color: #ffb359}
.c-icon-blue{ color: #29b1e8}
.c-icon-red{ color: #f96268}
.c-icon-green{ color: #36bc99}
.c-icon-gray{ color: #ccc}
.c-active{color: #58cffa;}
.c-fff{ color: #fff;}
.c-000{ color: #000;}
.c-333{ color: #333;}
/*字体*/
.f10{ font-size: 10px;}
.f11{ font-size: 11px;}
.f12{ font-size: 12px;}
.f13{ font-size: 13px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f17{ font-size: 17px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}
.f34{ font-size: 34px;}
.f40{ font-size: 40px;}
/* 距离 */
.mt10{margin-top: 10px !important;}
.mr15{margin-right: 15px !important;}
.ml5{margin-left: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.rr-text-right{ text-align: right}
/*内边距*/
.rs-padding-10{padding: 10px}
/* 宽度 */
.rr-width-4em{ width: 4em;}
.rr-width-5em{ width: 5em;}
.rr-width-100{ width: 100%}
.rr-justify{
	height: 33px; line-height: 33px;
	display: inline-block;
	margin-right: 10px;
	float: left;
	text-align:justify;
	text-align-last:justify;
	letter-spacing:-.15em;white-space:normal !important 
	}
.rr-justify:after{
     display:inline-block;
     overflow:hidden;
     width:100%;
     height:0;
     content:' ';
     vertical-align:top;
}
/*文本垂直居中*/
.rs-display-table{ display: table; width: 100%;}
.rs-table-cell{ display: table-cell;vertical-align: middle;}

/* 单据顶部固定信息显示 */
.rr-left{float: left;}
.rr-right{float: right;}
.rr-bill-top{ background: #fff; padding: 5px 15px; font-size: 15px;line-height: 33px;}
.rr-bill-top .rs-flex-item{ position: relative; overflow: hidden;}
.rr-bill-small{ line-height: 24px}
.rr-bill-small .rr-justify{ line-height: 24px; height: 24px;}
/* 底部线条 */
.rr-line-b{position: relative}
.rr-line-b:after{position: absolute; content: " ";height: 1px;width:100%; left:0; bottom: 0;transform: scaleY(.5);background-color: #c8c7cc;}
/* 列表输入框 */
.rr-list-input{ border: none; border-bottom: 1px solid #eee}
/* 列表上拉刷新完无数据显示提示词 */
.rs-list-nodata{position: relative; font-size: 12px; text-align: center; padding: 8px;}
.rs-list-nodata span{ padding: 0 10px; background: #efeff4;position: relative;z-index: 99;}
.rs-list-nodata::before{position: absolute; content: ""; height: 1px; top: 50%; left: 10%; width: 80%; background: #ccc}


